.utama { 
    text-align: center;              
    display: flex;
    flex-direction: column;
    justify-content: center;         
    align-items: center;              
    height: 100vh;
}
.tombol {
    display: block;
    text-decoration: none; 
    background: rgb(187, 197, 196);
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
}
.logo {
    width: 200px;
}